In [2]:
import pymysql

In [3]:
conn = pymysql.connect(host="db4free.net",
                       user="nabla123",
                       port=3306,
                       password="maquina271",
                       database="nabla_python",
                       charset="utf8")

In [8]:
with conn.cursor() as cursor:
    cursor.execute("SHOW TABLES;")
    tables = cursor.fetchall()
for table in tables:
    print(table)

('customers',)
('employees',)
('offices',)
('orderdetails',)
('orders',)
('payments',)
('productlines',)
('products',)

1. Realiza una consulta a la base de datos `nabla_python` por medio de `pymysql`: encuentra los tipos de `status` existentes dentro de la tabla `orders`.

In [3]:
query = """
SELECT status
FROM orders
"""
with conn.cursor() as cursor:
    cursor.execute(query)
    orders = cursor.fetchall()
print(orders)

(('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Resolved',), ('Shipped',), ('Shipped',), ('Cancelled',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Cancelled',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Cancelled',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Cancelled',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Cancelled',), ('Shipped',), ('Cancelled',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Resolved',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('On Hold',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Resolved',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Resolved',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('On Hold',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Disputed',), ('On Hold',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('Shipped',), ('On Hold',), ('Disputed',), ('Shipped',), ('Disputed',), ('Shipped',), ('Shipped',), ('In Process',), ('In Process',), ('In Process',), ('In Process',), ('In Process',), ('In Process',))

2. Realiza una consulta a la base de datos `nabla_python` por medio de `pymysql`: encuentra los 10 clientes `customerName` que más han comprado en la tienda. La tabla resultante deberá estar ordenada de mayor a menor con `customerName` y `expenses` como la columna en dónde se encuentre el monto gastado en la tienda. (**hint**: considera las tablas `customers` y `payments`)

In [5]:
with conn.cursor() as cursor:
    cursor.execute("DESCRIBE customers")
    descriptions = cursor.fetchall()

for desc in descriptions:
    print(desc)

('customerNumber', 'int(11)', 'NO', 'PRI', None, '')
('customerName', 'varchar(50)', 'NO', '', None, '')
('contactLastName', 'varchar(50)', 'NO', '', None, '')
('contactFirstName', 'varchar(50)', 'NO', '', None, '')
('phone', 'varchar(50)', 'NO', '', None, '')
('addressLine1', 'varchar(50)', 'NO', '', None, '')
('addressLine2', 'varchar(50)', 'YES', '', None, '')
('city', 'varchar(50)', 'NO', '', None, '')
('state', 'varchar(50)', 'YES', '', None, '')
('postalCode', 'varchar(15)', 'YES', '', None, '')
('country', 'varchar(50)', 'NO', '', None, '')
('salesRepEmployeeNumber', 'int(11)', 'YES', 'MUL', None, '')
('creditLimit', 'decimal(10,2)', 'YES', '', None, '')

In [6]:
with conn.cursor() as cursor:
    cursor.execute("DESCRIBE payments")
    descriptions = cursor.fetchall()

for desc in descriptions:
    print(desc)

('customerNumber', 'int(11)', 'NO', 'PRI', None, '')
('checkNumber', 'varchar(50)', 'NO', 'PRI', None, '')
('paymentDate', 'date', 'NO', '', None, '')
('amount', 'decimal(10,2)', 'NO', '', None, '')

In [35]:
query = """
SELECT customerName, amount
FROM customers
JOIN payments
ON payments.customerNumber = customers.customerNumber
ORDER BY amount DESC;
"""

In [36]:
with conn.cursor() as cursor:
    cursor.execute(query)
    orders = cursor.fetchmany(10)
    
for order in orders:
    print(order)

('Euro+ Shopping Channel', Decimal('120166.58'))
('Euro+ Shopping Channel', Decimal('116208.40'))
('Mini Gifts Distributors Ltd.', Decimal('111654.40'))
('Dragon Souveniers, Ltd.', Decimal('105743.00'))
('Mini Gifts Distributors Ltd.', Decimal('101244.59'))
('Corporate Gift Ideas Co.', Decimal('85559.12'))
('Mini Gifts Distributors Ltd.', Decimal('85410.87'))
('Herkku Gifts', Decimal('85024.46'))
('Mini Gifts Distributors Ltd.', Decimal('83598.04'))
('Australian Collectors, Co.', Decimal('82261.22'))

3.- Escribe una consulta que, para cada producto comprado muestre la clave del cliente `customerNumber` y el código del producto `productCode`. Obten los primeros 10 valores

In [16]:
with conn.cursor() as cursor:
    cursor.execute("DESCRIBE orders")
    descriptions = cursor.fetchall()

for desc in descriptions:
    print(desc)

('orderNumber', 'int(11)', 'NO', 'PRI', None, '')
('orderDate', 'date', 'NO', '', None, '')
('requiredDate', 'date', 'NO', '', None, '')
('shippedDate', 'date', 'YES', '', None, '')
('status', 'varchar(15)', 'NO', '', None, '')
('comments', 'text', 'YES', '', None, '')
('customerNumber', 'int(11)', 'NO', 'MUL', None, '')

In [11]:
with conn.cursor() as cursor:
    cursor.execute("DESCRIBE orderdetails")
    descriptions = cursor.fetchall()

for desc in descriptions:
    print(desc)

('orderNumber', 'int(11)', 'NO', 'PRI', None, '')
('productCode', 'varchar(15)', 'NO', 'PRI', None, '')
('quantityOrdered', 'int(11)', 'NO', '', None, '')
('priceEach', 'decimal(10,2)', 'NO', '', None, '')
('orderLineNumber', 'smallint(6)', 'NO', '', None, '')

In [10]:
with conn.cursor() as cursor:
    cursor.execute("DESCRIBE customers")
    descriptions = cursor.fetchall()

for desc in descriptions:
    print(desc)

('customerNumber', 'int(11)', 'NO', 'PRI', None, '')
('customerName', 'varchar(50)', 'NO', '', None, '')
('contactLastName', 'varchar(50)', 'NO', '', None, '')
('contactFirstName', 'varchar(50)', 'NO', '', None, '')
('phone', 'varchar(50)', 'NO', '', None, '')
('addressLine1', 'varchar(50)', 'NO', '', None, '')
('addressLine2', 'varchar(50)', 'YES', '', None, '')
('city', 'varchar(50)', 'NO', '', None, '')
('state', 'varchar(50)', 'YES', '', None, '')
('postalCode', 'varchar(15)', 'YES', '', None, '')
('country', 'varchar(50)', 'NO', '', None, '')
('salesRepEmployeeNumber', 'int(11)', 'YES', 'MUL', None, '')
('creditLimit', 'decimal(10,2)', 'YES', '', None, '')

In [11]:
query = """
SELECT customers.customerNumber, orderdetails.productCode
FROM customers
JOIN orders
ON orders.customerNumber = customers.customerNumber
JOIN orderdetails
ON orderdetails.orderNumber=orders.orderNumber;
"""

In [12]:
with conn.cursor() as cursor:
    cursor.execute(query)
    consulta = cursor.fetchmany(10)

for consul in consulta:
    print(consul)

(124, 'S12_1666')
(124, 'S18_1097')
(124, 'S18_4668')
(124, 'S32_3522')
(124, 'S12_1099')
(124, 'S12_3380')
(124, 'S12_3990')
(124, 'S12_4675')
(124, 'S18_1889')
(124, 'S18_3278')
(124, 'S12_1666')
(124, 'S18_1097')
(124, 'S18_4668')
(124, 'S32_3522')
(124, 'S12_1099')
(124, 'S12_3380')
(124, 'S12_3990')
(124, 'S12_4675')
(124, 'S18_1889')
(124, 'S18_3278')

4. Con base al ejercicio anterior, reemplaza `productCode` por `productName`. **HINT**: El comando `WITH` nos ayuda a crear una tabla temporal:

```SQL
WITH t1 as (
    SELECT ...
    )
SELECT t1.ci, t2.cj
FROM t2
JOIN t1 ON t1.cx = t2.cx
```

In [8]:
query = """
WITH t1 as(
    SELECT customers.customerNumber, orderdetails.productCode
    FROM customers
    JOIN orders
    ON orders.customerNumber = customers.customerNumber
    JOIN orderdetails
    ON orderdetails.orderNumber=orders.orderNumber)
    
SELECT products.productName, t1.customerNumber
FROM products
JOIN t1
ON t1.productCode=products.productCode;
"""

In [9]:
with conn.cursor() as cursor:
    cursor.execute(query)
    consulta = cursor.fetchmany(10)

for consul in consulta:
    print(consul)

('1965 Aston Martin DB5', 103)
('1999 Indy 500 Monte Carlo SS', 103)
('1948 Porsche Type 356 Roadster', 103)
('1966 Shelby Cobra 427 S/C', 103)
('1996 Moto Guzzi 1100i', 103)
('1936 Harley Davidson El Knucklehead', 103)
('1938 Cadillac V-16 Presidential Limousine', 103)
('1917 Grand Touring Sedan', 112)
('1911 Ford Town Car', 112)
('1932 Model A Ford J-Coupe', 112)

5. Con base al ejercicio anterior, reemplaza `customerNumber` por `customerName`

In [9]:
query = """
WITH t1 as(
    SELECT customers.customerName, orderdetails.productCode
    FROM customers
    JOIN orders
    ON orders.customerNumber = customers.customerNumber
    JOIN orderdetails
    ON orderdetails.orderNumber=orders.orderNumber)
    
SELECT products.productName, t1.customerName
FROM products
JOIN t1
ON t1.productCode=products.productCode;
"""

In [10]:
with conn.cursor() as cursor:
    cursor.execute(query)
    consulta = cursor.fetchmany(10)

for consul in consulta:
    print(consul)

('1965 Aston Martin DB5', 'Atelier graphique')
('1999 Indy 500 Monte Carlo SS', 'Atelier graphique')
('1948 Porsche Type 356 Roadster', 'Atelier graphique')
('1966 Shelby Cobra 427 S/C', 'Atelier graphique')
('1996 Moto Guzzi 1100i', 'Atelier graphique')
('1936 Harley Davidson El Knucklehead', 'Atelier graphique')
('1938 Cadillac V-16 Presidential Limousine', 'Atelier graphique')
('1917 Grand Touring Sedan', 'Signal Gift Stores')
('1911 Ford Town Car', 'Signal Gift Stores')
('1932 Model A Ford J-Coupe', 'Signal Gift Stores')
('1965 Aston Martin DB5', 'Atelier graphique')
('1999 Indy 500 Monte Carlo SS', 'Atelier graphique')
('1948 Porsche Type 356 Roadster', 'Atelier graphique')
('1966 Shelby Cobra 427 S/C', 'Atelier graphique')
('1996 Moto Guzzi 1100i', 'Atelier graphique')
('1936 Harley Davidson El Knucklehead', 'Atelier graphique')
('1938 Cadillac V-16 Presidential Limousine', 'Atelier graphique')
('1917 Grand Touring Sedan', 'Signal Gift Stores')
('1911 Ford Town Car', 'Signal Gift Stores')
('1932 Model A Ford J-Coupe', 'Signal Gift Stores')

6. Con base al ejercicio 3, encuentra el nombre del producto `productName` y cuantas unidades se han comprado de ese producto. Ordena los elementos de mayor a menor.

In [21]:
query = """
WITH t1 as(
    SELECT customers.customerNumber, orderdetails.productCode
    FROM customers
    JOIN orders
    ON orders.customerNumber = customers.customerNumber
    JOIN orderdetails
    ON orderdetails.orderNumber=orders.orderNumber)
SELECT products.productName, COUNT(productName)
FROM products
JOIN t1
ON t1.productCode=products.productCode
GROUP BY productName
ORDER BY COUNT(productName) DESC;
"""

In [22]:
with conn.cursor() as cursor:
    cursor.execute(query)
    consulta = cursor.fetchall()

for consul in consulta:
    print(consul)

('1992 Ferrari 360 Spider red', 53)
('1996 Moto Guzzi 1100i', 28)
('1936 Harley Davidson El Knucklehead', 28)
('1938 Cadillac V-16 Presidential Limousine', 28)
('1932 Model A Ford J-Coupe', 28)
('1939 Chevrolet Deluxe Coupe', 28)
('1937 Lincoln Berline', 28)
('2003 Harley-Davidson Eagle Drag Bike', 28)
('P-51-D Mustang', 28)
('1997 BMW R 1100 S', 28)
('1928 British Royal Navy Airplane', 28)
('1960 BSA Gold Star DBD34', 28)
('1900s Vintage Tri-Plane', 28)
('1997 BMW F650 ST', 28)
('1928 Ford Phaeton Deluxe', 28)
('1930 Buick Marquette Phaeton', 28)
('American Airlines: B767-300', 28)
('America West Airlines B757-200', 28)
('ATA: B757-300', 28)
('F/A 18 Hornet 1/72', 28)
('1928 Mercedes-Benz SSK', 28)
('1969 Harley Davidson Ultimate Chopper', 28)
('1952 Alpine Renault 1300', 28)
('1962 LanciaA Delta 16V', 28)
('1958 Setra Bus', 28)
('1940 Ford Pickup Truck', 28)
('1936 Mercedes-Benz 500K Special Roadster', 28)
('1926 Ford Fire Engine', 28)
('1913 Ford Model T Speedster', 28)
('1934 Ford V8 Coupe', 28)
('18th Century Vintage Horse Carriage', 28)
('1917 Maxwell Touring Car', 28)
('1940s Ford truck', 28)
('Corsair F4U ( Bird Cage)', 28)
('American Airlines: MD-11S', 28)
('2002 Suzuki XREO', 28)
('1957 Chevy Pickup', 28)
('1998 Chrysler Plymouth Prowler', 28)
('1964 Mercedes Tour Bus', 28)
('1970 Dodge Coronet', 28)
('1962 Volkswagen Microbus', 28)
('1958 Chevy Corvette Limited Edition', 28)
('1980’s GM Manhattan Express', 28)
('1954 Greyhound Scenicruiser', 28)
('Diamond T620 Semi-Skirted Tanker', 28)
('1939 Cadillac Limousine', 28)
('1936 Chrysler Airflow', 28)
('1996 Peterbilt 379 Stake Bed with Outrigger', 28)
('1982 Camaro Z28', 28)
('1972 Alfa Romeo GTA', 28)
('1940 Ford Delivery Sedan', 28)
('1999 Yamaha Speed Boat', 28)
('Boeing X-32A JSF', 28)
('1980s Black Hawk Helicopter', 28)
('1941 Chevrolet Special Deluxe Cabriolet', 28)
('1900s Vintage Bi-Plane', 28)
('1937 Horch 930V Limousine', 28)
('HMS Bounty', 28)
('1993 Mazda RX-7', 27)
('1948 Porsche 356-A Roadster', 27)
('1995 Honda Civic', 27)
('1982 Lamborghini Diablo', 27)
('1956 Porsche 356A Coupe', 27)
('1969 Dodge Super Bee', 27)
('1976 Ford Gran Torino', 27)
('1957 Vespa GS150', 27)
('1957 Corvette Convertible', 27)
('1971 Alpine Renault 1600s', 27)
('1904 Buick Runabout', 27)
('18th century schooner', 27)
('1912 Ford Model T Delivery Wagon', 27)
('The Schooner Bluenose', 27)
('The Titanic', 27)
('The Queen Mary', 27)
('Pont Yacht', 27)
('1968 Ford Mustang', 27)
('1982 Ducati 900 Monster', 27)
('1974 Ducati 350 Mk3 Desmo', 27)
('2002 Yamaha YZR M1', 27)
('2001 Ferrari Enzo', 27)
('1969 Ford Falcon', 27)
('1903 Ford Model A', 27)
('1992 Porsche Cayenne Turbo Silver', 27)
("1950's Chicago Surface Lines Streetcar", 27)
('1962 City of Detroit Streetcar', 27)
('1968 Dodge Charger', 27)
('1970 Plymouth Hemi Cuda', 27)
('1969 Dodge Charger', 27)
('1961 Chevrolet Impala', 27)
('1982 Ducati 996 R', 27)
('1969 Corvair Monza', 27)
('Collectable Wooden Train', 27)
('1970 Triumph Spitfire', 27)
('The Mayflower', 27)
('The USS Constitution Ship', 27)
('1965 Aston Martin DB5', 25)
('1999 Indy 500 Monte Carlo SS', 25)
('1948 Porsche Type 356 Roadster', 25)
('1966 Shelby Cobra 427 S/C', 25)
('1917 Grand Touring Sedan', 25)
('1911 Ford Town Car', 25)
('1932 Alfa Romeo 8C2300 Spider Sport', 25)
('1970 Chevy Chevelle SS 454', 25)
('1949 Jaguar XK 120', 25)
('1969 Chevrolet Camaro Z28', 25)
('2002 Chevy Corvette', 25)
('1936 Mercedes Benz 500k Roadster', 25)
('1957 Ford Thunderbird', 24)
('1952 Citroen-15CV', 24)
('1992 Ferrari 360 Spider red', 53)
('1996 Moto Guzzi 1100i', 28)
('1936 Harley Davidson El Knucklehead', 28)
('1938 Cadillac V-16 Presidential Limousine', 28)
('1932 Model A Ford J-Coupe', 28)
('1939 Chevrolet Deluxe Coupe', 28)
('1937 Lincoln Berline', 28)
('2003 Harley-Davidson Eagle Drag Bike', 28)
('P-51-D Mustang', 28)
('1997 BMW R 1100 S', 28)
('1928 British Royal Navy Airplane', 28)
('1960 BSA Gold Star DBD34', 28)
('1900s Vintage Tri-Plane', 28)
('1997 BMW F650 ST', 28)
('1928 Ford Phaeton Deluxe', 28)
('1930 Buick Marquette Phaeton', 28)
('American Airlines: B767-300', 28)
('America West Airlines B757-200', 28)
('ATA: B757-300', 28)
('F/A 18 Hornet 1/72', 28)
('1928 Mercedes-Benz SSK', 28)
('1969 Harley Davidson Ultimate Chopper', 28)
('1952 Alpine Renault 1300', 28)
('1962 LanciaA Delta 16V', 28)
('1958 Setra Bus', 28)
('1940 Ford Pickup Truck', 28)
('1936 Mercedes-Benz 500K Special Roadster', 28)
('1926 Ford Fire Engine', 28)
('1913 Ford Model T Speedster', 28)
('1934 Ford V8 Coupe', 28)
('18th Century Vintage Horse Carriage', 28)
('1917 Maxwell Touring Car', 28)
('1940s Ford truck', 28)
('Corsair F4U ( Bird Cage)', 28)
('American Airlines: MD-11S', 28)
('2002 Suzuki XREO', 28)
('1957 Chevy Pickup', 28)
('1998 Chrysler Plymouth Prowler', 28)
('1964 Mercedes Tour Bus', 28)
('1970 Dodge Coronet', 28)
('1962 Volkswagen Microbus', 28)
('1958 Chevy Corvette Limited Edition', 28)
('1980’s GM Manhattan Express', 28)
('1954 Greyhound Scenicruiser', 28)
('Diamond T620 Semi-Skirted Tanker', 28)
('1939 Cadillac Limousine', 28)
('1936 Chrysler Airflow', 28)
('1996 Peterbilt 379 Stake Bed with Outrigger', 28)
('1982 Camaro Z28', 28)
('1972 Alfa Romeo GTA', 28)
('1940 Ford Delivery Sedan', 28)
('1999 Yamaha Speed Boat', 28)
('Boeing X-32A JSF', 28)
('1980s Black Hawk Helicopter', 28)
('1941 Chevrolet Special Deluxe Cabriolet', 28)
('1900s Vintage Bi-Plane', 28)
('1937 Horch 930V Limousine', 28)
('HMS Bounty', 28)
('1993 Mazda RX-7', 27)
('1948 Porsche 356-A Roadster', 27)
('1995 Honda Civic', 27)
('1982 Lamborghini Diablo', 27)
('1956 Porsche 356A Coupe', 27)
('1969 Dodge Super Bee', 27)
('1976 Ford Gran Torino', 27)
('1957 Vespa GS150', 27)
('1957 Corvette Convertible', 27)
('1971 Alpine Renault 1600s', 27)
('1904 Buick Runabout', 27)
('18th century schooner', 27)
('1912 Ford Model T Delivery Wagon', 27)
('The Schooner Bluenose', 27)
('The Titanic', 27)
('The Queen Mary', 27)
('Pont Yacht', 27)
('1968 Ford Mustang', 27)
('1982 Ducati 900 Monster', 27)
('1974 Ducati 350 Mk3 Desmo', 27)
('2002 Yamaha YZR M1', 27)
('2001 Ferrari Enzo', 27)
('1969 Ford Falcon', 27)
('1903 Ford Model A', 27)
('1992 Porsche Cayenne Turbo Silver', 27)
("1950's Chicago Surface Lines Streetcar", 27)
('1962 City of Detroit Streetcar', 27)
('1968 Dodge Charger', 27)
('1970 Plymouth Hemi Cuda', 27)
('1969 Dodge Charger', 27)
('1961 Chevrolet Impala', 27)
('1982 Ducati 996 R', 27)
('1969 Corvair Monza', 27)
('Collectable Wooden Train', 27)
('1970 Triumph Spitfire', 27)
('The Mayflower', 27)
('The USS Constitution Ship', 27)
('1965 Aston Martin DB5', 25)
('1999 Indy 500 Monte Carlo SS', 25)
('1948 Porsche Type 356 Roadster', 25)
('1966 Shelby Cobra 427 S/C', 25)
('1917 Grand Touring Sedan', 25)
('1911 Ford Town Car', 25)
('1932 Alfa Romeo 8C2300 Spider Sport', 25)
('1970 Chevy Chevelle SS 454', 25)
('1949 Jaguar XK 120', 25)
('1969 Chevrolet Camaro Z28', 25)
('2002 Chevy Corvette', 25)
('1936 Mercedes Benz 500k Roadster', 25)
('1957 Ford Thunderbird', 24)
('1952 Citroen-15CV', 24)

7. Por medio de SQLAlchemy, define la tabla `orders` definida dentro de `nabla_python`

```
+----------------+-------------+------+-----+---------+-------+
| Field          | Type        | Null | Key | Default | Extra |
+----------------+-------------+------+-----+---------+-------+
| orderNumber    | int(11)     | NO   | PRI | NULL    |       |
| orderDate      | date        | NO   |     | NULL    |       |
| requiredDate   | date        | NO   |     | NULL    |       |
| shippedDate    | date        | YES  |     | NULL    |       |
| status         | varchar(15) | NO   |     | NULL    |       |
| comments       | text        | YES  |     | NULL    |       |
| customerNumber | int(11)     | NO   | MUL | NULL    |       |
+----------------+-------------+------+-----+---------+-------+
```

In [24]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date

Base = declarative_base()

class Orders(Base):
    __tablename__ = "orders"
    orderNumber = Column(Integer, primary_key=True)
    orderDate = Column(Date)
    requiredDate = Column(Date)
    shippedDate = Column(Date)
    status = Column(String(15))
    comments = Column(String(10), index=True)
    customerNumber = Column(Integer, index=True)

8. Por medio de SQLAlchemy, define la tabla `orderdetails` definida dentro de `nabla_python`

```
+-----------------+---------------+------+-----+---------+-------+
| Field           | Type          | Null | Key | Default | Extra |
+-----------------+---------------+------+-----+---------+-------+
| orderNumber     | int(11)       | NO   | PRI | NULL    |       |
| productCode     | varchar(15)   | NO   | PRI | NULL    |       |
| quantityOrdered | int(11)       | NO   |     | NULL    |       |
| priceEach       | decimal(10,2) | NO   |     | NULL    |       |
| orderLineNumber | smallint(6)   | NO   |     | NULL    |       |
+-----------------+---------------+------+-----+---------+-------+
```

In [28]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date, SmallInteger, Date, Float

Base = declarative_base()

class Orders(Base):
    __tablename__ = "ordersdetails"
    orderNumber = Column(Integer, primary_key=True)
    productCode = Column(String(15))
    quantityOrdered = Column(Integer)
    priceEach = Column(Float(10,2))
    orderLineNumber = Column(SmallInteger)

9. Realiza una consulta a la base de datos `nabla_python` por medio de `sqlalchemy`: encuentra los tipos de `status` existentes dentro de la tabla `orders`.

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
engstr = f"mysql+pymysql://nabla123:{"maquina271"}@db4free.net:3306/nabla_python"
engine = create_engine(engstr)
conn = engine.connect()
Session = sessionmaker(bind=engine)
sess = Session()

for i in sess.query(Orders).limt(10):
    print(i.status)